---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Página no encontrada"
  description="La página que estabas buscando no existe"
  lang="es"
>
  <div class="font-bold text-2xl">Error 404</div>
</Layout>
