---

---

<footer class="flex flex-col gap-2">
  <p class="text-center">
    Made with ❤️ by <a href="https://github.com/gabrieldleon" target="_blank">
      Gabriel
    </a>
  </p>
  <p class="text-center">Copyright © 2025</p>
</footer>
